@import "tailwindcss";

:root {
  --primary: rgb(37 99 235);
  --btn: rgb(4 117 239);
  --muted: hsl(215.4 16.3% 46.9%);
  --secondary: #e2e8f0;
  --muted: hsl(0 0% 45.1%);
  --input: hsl(0 0% 89.8%);
  --card: hsl(0 0% 100%);
  --darkBlue: rgb(15 23 42);
  --dark: rgb(148 163 184);
  --lightGray: #f9f9f9;

  --background: #000000;
  --foreground: #ffffff;
  --button: #141414;
  --grey: #282828;
  --lightgrey: rgb(133, 133, 136);
  --purple: rgb(105, 81, 255);
  --border: #181818;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }

  body {
    overflow-y: hidden;
    font-family: "Geist Sans", sans-serif;
    font-size: 16px;
  }
}

.page {
  overflow-y: auto !important;
}

.container {
  max-width: 1350px;
  margin: auto;
  padding: 1rem 2rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* DropDown Profile */
.dropDownProfile {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 220px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e2e8f0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  .dropDownProfile {
    right: 2rem;
  }
}
/* END DropDown Profile */

.notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  min-width: 300px;
  padding: 12px 16px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(100%); /* Start from off-screen */
}

.slideIn {
  opacity: 1;
  transform: translateY(0); /* Slide up to visible position */
}

.slideOut {
  opacity: 0;
  transform: translateX(100%); /* Slide right out of view */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

.dot {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4caf50; /* base green */
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 5px #43a047, 0 0 5px #43a047, 0 0 5px #43a047,
      0 0 20px #43a047;
  }
  to {
    box-shadow: 0 0 10px #66bb6a, 0 0 10px #66bb6a, 0 0 10px #66bb6a,
      0 0 10px #66bb6a;
  }
}

@-moz-keyframes glowing {
  from {
    box-shadow: 0 0 5px #43a047, 0 0 5px #43a047, 0 0 5px #43a047,
      0 0 20px #43a047;
  }
  to {
    box-shadow: 0 0 10px #66bb6a, 0 0 10px #66bb6a, 0 0 10px #66bb6a,
      0 0 10px #66bb6a;
  }
}

@keyframes glowing {
  from {
    box-shadow: 0 0 5px #43a047, 0 0 5px #43a047, 0 0 5px #43a047,
      0 0 20px #43a047;
  }
  to {
    box-shadow: 0 0 10px #66bb6a, 0 0 10px #66bb6a, 0 0 10px #66bb6a,
      0 0 10px #66bb6a;
  }
}

.dot-off {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #9e9e9e; /* base grey */
  -webkit-animation: glowing-grey 1s ease-in-out infinite alternate;
  -moz-animation: glowing-grey 1s ease-in-out infinite alternate;
  animation: glowing-grey 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing-grey {
  from {
    box-shadow: 0 0 5px #757575, 0 0 5px #757575, 0 0 5px #757575,
      0 0 20px #757575;
  }
  to {
    box-shadow: 0 0 10px #bdbdbd, 0 0 10px #bdbdbd, 0 0 10px #bdbdbd,
      0 0 10px #bdbdbd;
  }
}

@-moz-keyframes glowing-grey {
  from {
    box-shadow: 0 0 5px #757575, 0 0 5px #757575, 0 0 5px #757575,
      0 0 20px #757575;
  }
  to {
    box-shadow: 0 0 10px #bdbdbd, 0 0 10px #bdbdbd, 0 0 10px #bdbdbd,
      0 0 10px #bdbdbd;
  }
}

@keyframes glowing-grey {
  from {
    box-shadow: 0 0 5px #757575, 0 0 5px #757575, 0 0 5px #757575,
      0 0 20px #757575;
  }
  to {
    box-shadow: 0 0 10px #bdbdbd, 0 0 10px #bdbdbd, 0 0 10px #bdbdbd,
      0 0 10px #bdbdbd;
  }
}


@media screen and (max-width: 767px) {
  .mobile-menu {
    height: fit-content;
    display: flex;
    align-content: flex-start;
    background: transparent !important;
    border-radius: 20px;
    padding: 0;
  }
}
.dropdown {
  position: absolute;
  top: 120px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  font-size: 22px;
  background: black;
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
}
.dropdown li:nth-child(4) {
  margin-bottom: 10px;
}
#hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.3s ease;
}

#hamburger .bar {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#hamburger.open {
  position: absolute;
  left: 90%;
}
#hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(0px, 6px);
}

#hamburger.open .bar:nth-child(2) {
  transform: rotate(-45deg) translate(-1px, -5px);
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}
